.hero-section {
  background-color: #383535;
  color: #fafbf8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 50px;
  margin-top: -96px;
}

.hero-text {
  max-width: 600px;
}

.hero-section img {
  width: 450px;
  max-width: 100%;
  border-radius: 20px;
  margin-top: 24px;
}

.container-btn {
  display: flex;
  gap: 18px;
}
