/* HERO SECTION */
.hero-section {
  background-color: #383535;
  color: #fafbf8;

  margin-top: -96px;
}

.container-inside-hero {
  max-width: 1300px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  gap: 50px;
}

.hero-text {
  max-width: 600px;
}

.hero-section img {
  width: 450px;
  max-width: 100%;
  border-radius: 20px;
  margin-top: 24px;
}

.container-btn {
  display: flex;
  gap: 18px;
}

/* IMAGES BENTO */
.bento-section {
  padding: 60px 5%;
  max-width: 1300px;
  margin: auto;
}

/*  on fait un bento de 12 colonnes pour pouvoir le diviser plus facilement*/
.bento-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: 150px;
  gap: 10px;
}

/* les span représentent combien de colonnes on prend pour les éléments dans cette class */
.bento-item.large {
  grid-column: span 6;
  grid-row: span 2;
}

.bento-item.medium {
  grid-column: span 3;
  grid-row: span 2;
}

.bento-item.small {
  grid-column: span 3;
  grid-row: span 1;
}

/* on remplit le container de l'img à 100% et on evite les déformation avec object fit cover */
.bento-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}

/* AVIS SECTION */
.reviews-section {
  padding: 40px 5%;
  background: transparent;
  color: #fafbf8;
  margin-bottom: 2rem;
  max-width: 1300px;
  margin: auto;
}

/* utilisation du grid ici avec un responsif en fonction de la taille d'écran, utilisation du grid plutot que wrap pour aussi faire echo avec le cours */
.reviews-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.review-card {
  background: #383535;
  padding: 20px;
  border-radius: 24px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
  color: #fafbf8;
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.review-name {
  font-weight: 700;
  font-size: 1rem;
}

.review-rating {
  display: flex;
  gap: 6px;
}

.star {
  width: 18px;
  height: 18px;
  fill: #fa3419;
  display: inline-block;
}

.review-text {
  font-size: 0.95rem;
  line-height: 1.5;
  margin: 0 0 12px 0;
  color: #f2f2f2;
}

.review-meta {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
}

/* RESPONSIVE */

/* BENTO */
@media (max-width: 900px) {
  .bento-container {
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 120px;
  }

  .bento-item.large {
    grid-column: span 6;
    grid-row: span 2;
  }

  .bento-item.medium,
  .bento-item.small {
    grid-column: span 3;
  }
}

@media (max-width: 600px) {
  .bento-container {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 120px;
  }

  .bento-item {
    grid-column: span 2 !important;
    grid-row: span 1 !important;
  }
}

/* AVIS */
@media (max-width: 1000px) {
  .reviews-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .reviews-grid {
    grid-template-columns: 1fr;
  }
}
