.hero-section {
  background: linear-gradient(rgba(26, 13, 7, 0.481), rgba(26, 13, 7, 0.8)),
    url("../images/programmes/salle3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--blanc);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 24px;
  gap: 50px;

  margin-top: -96px;

  border-radius: 0 0 50px 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  height: 465px;
}

.accueil-introduction {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  background-color: var(--gris);
}

td,
th {
  /* gestion des lignes du tableau */
  border: 1px solid var(--blanc);
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-top: 50px;
  text-align: center;
  color: var(--blanc);
  border-color: var(--blanc);
}

.section-tableau {
  /* gestion de la couleur de fond (background) de la section du tableau des horaires */
  background-color: var(--gris);

  margin-top: 6rem;
  padding-top: 2rem;
}

h4 {
  text-align: center;
  font-family: Mona sans serif;
}

hr {
  margin: 10px;
  border: 1px;
  height: 1px;
  width: 100%;
}

.section-inscription {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 4rem;
}

.section-inscription h2 {
  color: var(--noir);
  text-align: center;
  margin-bottom: 40px;
}

/* FORM */
.name-field {
  background-color: var(--noir);
  color: var(--blanc);
  padding: 40px 20px;
  border-radius: 16px;

  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
}

.name-field div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  margin-bottom: 6px;
  font-weight: 500;
}

input,
select {
  padding: 10px 14px;
  border-radius: 40px;
  border: 1px solid #ccc;
  outline: none;
  font-family: inherit;
  width: 400px;
}

input:focus,
select:focus {
  border-color: var(--orange);
}

/* BOUTON */
button.cta {
  align-self: center;
  margin-top: 20px;
  background-color: var(--orange);
  color: var(--blanc);
  border: none;
  border-radius: 40px;
  padding: 10px 24px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button.cta:hover {
  background-color: var(--orange);
  color: var(--blanc);
}

/* TABLEAU RESPONSIVE */
.tableau-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  margin: auto;
  font-family: Mona;
  border-radius: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 4rem;
}

.tableau-responsive::-webkit-scrollbar {
  height: 8px;
}
.tableau-responsive::-webkit-scrollbar-thumb {
  border-radius: 8px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .name-field {
    padding: 30px 20px;
  }

  button.cta {
    width: 100%;
  }

  input,
  select {
    width: 250px;
  }

  table {
    display: block;
  }
}

@media (max-width: 480px) {
  .section-inscription {
    padding: 40px 10px;
  }

  .name-field {
    border-radius: 12px;
  }

  h2.large {
    font-size: 1.5rem;
  }
  input,
  select {
    width: 250px;
  }

  table {
    display: block;
  }
}
