/* FONTS */
@font-face {
  font-family: "Hagrid";
  src: url("../fonts/Hagrid-Text-Extrabold-trial.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

/* CSS GENERAL ET INITIALISATION */
body {
  font-family: "Mona Sans", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fafbf8;
}

html {
  scroll-behavior: smooth;
}

section {
  margin-top: 3rem;
}

.active {
  font-weight: 700;
  color: #fa3419;
}

/* CSS DES TITERS */
h1 {
  color: #fa3419;
  font-family: "Hagrid", sans-serif;
  font-size: 3em;
}

h2 {
  font-size: 1.5em;
  line-height: 1.6;
  font-weight: 400;
}

h3 {
  font-size: 18px;
}

.large {
  font-size: 2em;
  text-align: center;
}

p {
  font-size: 16px;
}

.white {
  color: #fafbf8;
}

.black {
  color: #1a0d07;
  text-align: center;
  font-weight: 600;
  font-size: 2em;
}

/* CSS DE LA BARRE DE NAVIGUATION */
header {
  position: sticky;
  top: 0;
  z-index: 100;
  margin-top: 12px;
  padding: 0 12px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 32px 8px 16px;
  background-color: #1a0d077c;
  border-radius: 48px;
}

nav img {
  height: 62px;
  border-radius: 50%;
}

/* centré le logo dans son container verticalement */
nav a {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  display: flex;
  align-items: center;
  gap: 1rem;
}

ul,
li a {
  text-decoration: none;
  list-style-type: none;
  color: #fafbf8;
}

ul,
li a:hover {
  color: #fa3419;
}

/* CSS DES BOUTONS CTA ET SECONDAIRE */

/* on met inline block pour que le "bouton" accepte le padding */
a.btn {
  display: inline-block;
  text-decoration: none;
}

.btn {
  font-size: 1em;
  padding: 12px 28px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  width: 140px;
}

.btn-large {
  width: 220px;
}

.btn.cta {
  background-color: #fa3419;
  color: #fafbf8;
}

.btn.btn-secondaire {
  background: #fafbf8;
  color: #1a0d07;
  border: 2px solid #fa3419;
}

.cta:hover {
  background-color: #e82c13;

  transform: scale(1.05);
}

.btn-secondaire:hover {
  transform: scale(1.05);
}

/* FOOTER */
.footer {
  background-color: #383535;
  color: #fafbf8;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 5%;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 40px;
  width: 100%;
  justify-content: space-between;
}

.footer-logo {
  height: 120px;
  border-radius: 16px;
}

.footer-links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.footer-links li a {
  color: #fafbf8;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-links li a:hover {
  color: #fa3419;
}

.footer-legal-bottom {
  text-align: center;
  padding: 15px 5%;
  font-size: 0.75rem;
  border-top: 1px solid rgba(250, 52, 25, 0.3);
  margin-top: 20px;
}

.footer-legal-bottom ul {
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.footer-legal-bottom a {
  color: #fafbf8;
  text-decoration: none;
}

.footer-legal-bottom a:hover {
  color: #fa3419;
}

/* icons social media footer */
.footer-social {
  display: flex;
  gap: 15px;
  margin-top: 15px;
  align-items: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s;
}

.footer-social a:hover .social-icon {
  transform: scale(1.2);
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
  }

  .footer-links {
    flex-wrap: wrap;
    gap: 10px;
  }

  .footer-nav,
  .footer-nav ul {
    flex-direction: column;
  }
}
