.img-couches {
  width: 100vw;
  max-width: 100vh;
  object-fit: cover;
  border-radius: 50px;
}

.text-black {
  color: black;
  margin-right: 20px;
}

.banniere {
  position: relative;

  background: linear-gradient(rgba(26, 13, 7, 0.11), rgba(26, 13, 7, 0.8)),
    url("https://images.pexels.com/photos/1552242/pexels-photo-1552242.jpeg?_gl=1*fv0sh5*_ga*MzQ3MzY1MDgyLjE3NjEyMjkyOTY.*_ga_8JE65Q40S6*czE3NjI1MjM2ODckbzMkZzEkdDE3NjI1MjQwNTYkajU4JGwwJGgw");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fafbf8;
  align-items: center;
  justify-content: center;

  text-align: center;

  gap: 50px;

  border-radius: 0 0 50px 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  margin-top: -96px;
  height: 465px;
}

.banniere,
h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.h3-team {
  color: #fa3419;
  font-family: "Hagrid", sans-serif;
  font-size: 3em;
  margin-top: 0;
  margin-left: 2rem;
}

.container {
  display: flex;

  margin-left: 54px;
  margin-right: 54px;
}

.container p {
  max-width: 400px;
  margin-left: 2rem;
}

.pad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.semi-bold {
  font-size: 0.75em;
  color: #383535;
}

/* --- RESPONSIVE TEAM PAGE --- */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
  }

  .img-couches {
    width: 80%;
    height: auto;
    border-radius: 40px;
    margin-bottom: 20px;
  }

  .h3-team {
    font-size: 2em;
    padding-left: 0;
    text-align: center;
    margin-left: 0rem;
  }

  .semi-bold,
  .semi-bold-white {
    font-size: 0.8em;
    display: block;
  }

  .pad {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container p {
    margin-left: 0rem;
  }

  .text-black {
    margin-right: 0px;
  }
}

@media (max-width: 600px) {
  .img-couches {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }

  .h3-team {
    font-size: 1.5em;
    margin-left: 0rem;
  }

  .semi-bold,
  .semi-bold-white {
    font-size: 0.7em;
  }

  .pad {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .container {
    margin-left: 10px;
    margin-right: 10px;
  }

  .container p {
    margin-left: 0rem;
  }

  .text-black {
    margin-right: 0px;
  }
}
